<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments.html :: header('Register Page')">
</head>
<body style="background: azure">
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-3">
            <!--      -->
            <form method="post">
                <input type="hidden"
                       th:name="${_csrf.parameterName}"
                       th:value="${_csrf.token}" />

                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text"
                           class="form-control"
                           id="username"
                           name="username"
                           th:value="${username}"
                           placeholder="john">
                    <small th:if="${error_message_for_username}" class="form-error-message" th:text="${error_message_for_username}"></small>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password"
                           class="form-control"
                           id="password"
                           th:value="${password}"
                           name="password">
                    <small th:if="${error_message_for_password}" class="form-error-message" th:text="${error_message_for_password}"></small>
                </div>

                <div class="form-group">
                    <label for="confirm_password">Confirm Password</label>
                    <input type="password"
                           class="form-control"
                           id="confirm_password"
                           th:value="${confirmPassword}"
                           name="confirmPassword">
                    <small th:if="${error_message_for_password}" class="form-error-message" th:text="${error_message_for_password}"></small>                </div>
                <button type="submit" class="btn btn-success">Save</button>
                <a href="/auth/login" class="btn btn-primary">Login</a>
            </form>

        </div>
    </div>
</div>
<section th:include="fragments.html :: js_files"></section>
</body>
</html>