<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments.html :: header('Todo List')">
</head>
<body style="background: azure">
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-3">
<!--      -->
      <form method="post" th:action="@{'/delete/' + ${id} }">
        <div class="alert alert-danger">Are you sure delete todo <i th:text="${title}"></i></div>
        <button type="submit" class="btn btn-danger">Delete</button>
        <a  href="/" class="link">Back</a>
      </form>

    </div>
  </div>
</div>
<section th:include="fragments.html :: js_files"></section>
</body>
</html>