<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments.html :: header('Todo List')">
</head>
<body style="background: azure">
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-3 pt-5">
            <a href="/add" class="btn btn-success mb-2">+ Add</a>
            <table class="table">
                <thead>
                <tr class="table-header">
                    <th>#</th>
                    <th>Title</th>
                    <th>Priority</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody th:each="todo, step : ${page.getContent()}">
                <tr>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input"
                                   th:checked="${todo.completed}"
                                   type="checkbox"
                                   id="priority"
                                   th:onclick="update([[${todo.id}]])"
                            >
                        </div>
                    </td>
                    <!--                    <td th:text="${step.count}"></td>-->
                    <td th:text="${todo.title}"></td>
                    <td th:text="${todo.priority}"></td>
                    <td>
                        <a th:href="@{'/delete/'+${todo.id}}" class="btn btn-danger">Delete</a> ||
                        <a th:href="@{'/update/'+${todo.id}}" class="btn btn-info">Update</a>
                    </td>
                </tr>
                </tbody>
            </table>


            <nav aria-label="..." th:if="${page.getTotalPages() > 0}">
                <ul class="pagination">
                    <li class="page-item" th:if="${page.hasPrevious()}">
                        <a class="page-link" th:href="@{'?page=' + ${page.number - 1}}" tabindex="-1">Previous</a>
                    </li>

                    <li class="page-item" th:each="pageNumber : ${#numbers.sequence(1, page.getTotalPages())}"
                        th:classappend="${pageNumber==page.number + 1} ? active">
                        <a class="page-link" th:href="@{'?page=' + ${pageNumber - 1}}" th:text="${pageNumber}"></a>
                    </li>
                    <li class="page-item" th:if="${page.hasNext()}">
                        <a class="page-link" th:href="@{'?page=' + ${page.number + 1}}">Next</a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>
</div>

<script type="application/javascript">
    function update(id) {
        console.log(id)
        fetch("http://localhost:8080/update-completed/" + id, {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
        })
    }
</script>
<section th:include="fragments.html :: js_files"></section>
</body>
</html>
