<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments.html :: header('Todo List')">
</head>
<body style="background: azure">
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-3">
            <a href="/add" class="btn btn-success">+ Add</a>
            <table class="table">
                <thead>
                <tr class="table-header">
                    <th>#</th>
                    <th>Title</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody th:each="todo, step : ${todos}">
                <tr>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" th:checked="${todo.completed}" type="checkbox" value="" id="priority">
                        </div>
                    </td>
<!--                    <td th:text="${step.count}"></td>-->
                    <td th:text="${todo.title}"></td>
                    <td>
                        <a th:href="@{'/delete/'+${todo.id}}" class="btn btn-danger">Delete</a> ||
                        <a th:href="@{'/update/'+${todo.id}}" class="btn btn-info">Update</a>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
<section th:include="fragments.html :: js_files"></section>
</body>
</html>